/* TAG SELECTORS*/ 

* {
    box-sizing: border-box;
  }
  
body {
    background-color: white;
    margin: 0;
  }

h1 {
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    font-size: 3.8em;
    font-weight: 250;
}

h3 {
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: 150;
}

hr {
    border-style: none;
    border-top-style: dotted;
    color: white;
    border-width: 5px;
    width: 10%;
}

li {
    list-style-type: none;
    margin: auto;
    width: 75%;
}

div {
    margin: auto;
    padding-top: 25px; 
    padding-bottom: 100px;
    background-color: #1e836c;  
}

footer {
    background-color: #1e836c;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    font-size: 1em;
    padding-top: 250px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: #1e836c;
    border-bottom: 0.5px solid white;
}
    
/* CLASS SELECTORS */
      
/* Left and right column */
/* Make sidecolumns green/grey on white */
.column-side {
    width: 25%;
    height: 100%;
    float: left;
    background-color: ;
}

/* Middle column */
.column-main {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #1e836c;
}

/* Clear floats after the columns */
.row:after {
/* What does this mean! */
    content: "";
    display: table;
    clear: both;
}

.tasks-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: white;
    text-align: left;
    margin-top: 50px;
    padding: 5px;
}

/* ID SELECTORS */