h1 {
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    font-size: 3.8em;
    font-weight: 250;
}

h3 {
    font-family: Georgia, serif;
    color: grey;
    text-align: center;
    font-size: 2.5em;
    font-weight: 150;
    padding: 25% 0 0 0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    /*color: white;*/
    border-width: 5px;
    width: 10%;
}

li {
    list-style-type: none;
    margin: auto;
    width: 100%;
}

footer {
    background-color: #1e836c;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    font-size: 1em;
    padding-top: 250px;
}

input[type=text] {
    width: 100%;
    /*padding: 10px;*/
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: #1e836c;
    border-bottom: 0.5px solid white;
}

.tasks-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: ;
    padding: 5px;
}

/* TAG SELECTORS */ 
* {
    box-sizing: border-box;
  }
    
/* CLASS SELECTORS */
      
/* Left and right column */
.col-side {
    width: 25%;
    height: auto;
    float: left;
    background-color: ;
    margin: ;
}

/* Middle column */
.col-main {
    width: 50%;
    height: auto;
    float: left;
    background-color: #1e836c;
}

/* ID SELECTORS */